<!-- Header -->
<header id="head">
    <div class="container">
        <div class="banner-content">
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>Modern</h2>
                    <p>Amazing free responsive website for free</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2>Multi Purpose</h2>
                    <p>Bootstrap mobile first front-end framework.</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2>Latest Tech</h2>
                    <p>HTML5/CSS3 used for structuring and presenting.</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2>Design</h2>
                    <p>We used jQuery: Write Less.. Do More..</p>
                    <div class="da-img"></div>
                </div>
                <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </nav>
            </div>
        </div>
    </div>
</header>
<!-- /Header -->
<!-- Highlights - jumbotron -->
<div class="jumbotron sectionBox">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-users fa-2x circle"></i>MANAGEMENT</h4>
                </div>
                <div class="h-body">
                    <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit imperdiet congue. Integer ultricies sed ligula eget tempus.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-bar-chart-o fa-2x circle"></i>PLANNING</h4>
                </div>
                <div class="h-body">
                    <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit imperdiet congue. Integer ultricies sed ligula eget tempus.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-gears fa-2x circle"></i>MARKETING</h4>
                </div>
                <div class="h-body">
                    <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit imperdiet congue. Integer ultricies sed ligula eget tempus.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-file-word-o fa-2x circle"></i>REPORTS</h4>
                </div>
                <div class="h-body">
                    <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit imperdiet congue. Integer ultricies sed ligula eget tempus.</p>
                </div>
            </div>
        </div>
        <!-- /row  -->

    </div>
</div>
<!-- container -->
<section class="sectionBox">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading">
                    <h2>About Us</h2>
                    <br />
                </div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                <blockquote class="blockquote-1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
            </div>
            <div class="col-md-6">
                <div class="blockquote-box blockquote-info clearfix">
                    <div class="heading">
                        <h2>Featured Services</h2>
                        <br />
                    </div>
                    <div class="square pull-left">
                        <i class="fa fa-pencil-square-o fa-3x circle"></i>
                    </div>
                    <h4>
                        Planning
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.
                    </p>
                </div>
                <div class="blockquote-box blockquote-success clearfix">
                    <div class="square pull-left">
                        <i class="fa fa-cloud-download fa-3x circle"></i>
                    </div>
                    <h4>
                        Marketing
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.
                    </p>
                </div>
                <div class="blockquote-box blockquote-primary clearfix">
                    <div class="square pull-left">
                        <i class="fa fa-university fa-3x circle"></i>
                    </div>
                    <h4>
                        Growth Invest
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
