<!DOCTYPE html>

<html>
<head>
    <!--Meta-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!--Title-->
    <title>ProxSence</title>
    <!--Link-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" media="screen" />
    <!--Fonts-->
    <link rel="stylesheet" href="~/lib/fontawesome/css/*.css" />
    <link href="https://fonts.googleapis.com/css?family=Jura:400,500,600|Open+Sans|Titillium+Web:300,300i,400,400i,600,600i,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <!--Custom-->
    <link rel="stylesheet" type="text/css" href="~/css/isotope.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/fancybox/jquery.fancybox.css" media="screen" />
    <!--Mine css-->
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <!-- Верхняя панель, меню -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <!-- Для мобильных устройств -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="index.html">На главную</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="services.html">Наши скилы</a></li>
                    <li class="active"><a href="portfolio.html">Портфолио</a></li>
                    <li><a href="sidebar-right.html">Описание различных проектов</a></li>
                    <li><a href="contact.html">Связь с нами</a></li>
                    <li>@await Component.InvokeAsync("CartSummary")</li>
                </ul>
            </div><!--/Для мобильных устройств -->
        </div>
    </div>
    <!-- /Верхняя панель, меню -->
    <header id="head" class="secondary"></header>


    <div>
        @RenderBody()
    </div>

    <!-- Футер -->
    <footer id="footer" class="top-space">
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 panel">
                        <h3 class="panel-title">Latest News</h3>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin convallis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit malesuada. Sed non risus eget dolor amet vestibulum ullamcorper. Integer feugiat molestie.</p>
                        </div>
                    </div>

                    <div class="col-md-4 panel contact">
                        <h3 class="panel-title">Contact Info</h3>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor amet, consectetur adipiscing ipsum dolor.</p>
                            <ul>
                                <li><i class="fa fa-phone"></i>1-123-345-6789</li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i> contact@webthemez.com</a></li>
                                <li><i class="fa fa-flag"></i>123 Smith Drive, Baltimore, MD 21212</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 panel">
                        <h3 class="panel-title">Follow Us</h3>
                        <div class="panel-body">
                            <p class="follow-me-icons">
                                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                                <a href=""><i class="fa fa-github fa-2"></i></a>
                                <a href=""><i class="fa fa-facebook fa-2"></i></a>
                                <a href=""><i class="fa fa-youtube fa-2"></i></a>
                                <a href=""><i class="fa fa-pinterest fa-2"></i></a>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of panels -->
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 panel">
                        <div class="panel-body">
                            <p class="simplenav">
                                <a href="index.html">Home</a> |
                                <a href="about.html">About</a> |
                                <a href="services.html">Services</a> |
                                <a href="portfolio.html">Portfolio</a> |
                                <a href="contact.html">Contact</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 panel">
                        <div class="panel-body">
                            <p class="text-right">
                                Copyright &copy; 2014. Template by <a href="http://webthemez.com/" rel="develop">WebThemez.com</a>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of panels -->
            </div>
        </div>

    </footer>


</body>
</html>
